footer {
    clear: both;
    position: relative;
    background-color: #EBEBEB;
    margin-top: 17px;
    width: 100%;
}

.footer2,
.footer_unauth {
    background-color: #EBEBEB;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.footer2 {
    width: 100%;
    bottom: 0;
    margin: 0;
    position: fixed;
    padding: 10px 10px 4px 10px;
}

    .footer2 a,
    .footer_unauth a {
        color: #777777;
        text-decoration: none;
    }

        .footer2 a:hover,
        .footer_unauth a:hover{
            color: #000000;
        }

.footer_unauth {
    position:relative;
    padding: 10px 0px 0px 0px;
}

.footerTop {
    position: relative;
    font-size: 15px;
    color: #777777;
    padding: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

    .footerTop a {
        color: #777777;
        text-decoration: none;
    }

        .footerTop a:hover {
            color: #000000;
        }

.footItems a {
    font-size: 18px;
    display: block;
    padding: 10px 0;
}

.footIc {
    font-size: 18px;
    display: block;
    padding: 10px 0 10px 50px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px 40px;
}

.footIcF2 {
    display: inline-block;
    font-size: 16px;
    padding: 8px 30px 8px 30px;
    background-repeat: no-repeat;
    background-position: left 5px;
}

.footIcVideo {
    background-image: url(Images/Footer/footIcPlay.svg);
}

    .footIcVideo:hover {
        background-image: url(Images/Footer/footIcPlayAct.svg);
    }

.footIcHelp {
    background-image: url(Images/Footer/footIcHelp.svg);
}

    .footIcHelp:hover {
        background-image: url(Images/Footer/footIcHelpAct.svg);
    }

.footIcCont {
    background-image: url(Images/Footer/footIcCont.svg);
}

    .footIcCont:hover {
        background-image: url(Images/Footer/footIcContAct.svg);
    }

.footTel {
    display: inline-block;
    font-size: 21px;
    color: #333333;
    white-space: nowrap;
    margin: 0;
    padding: 0 0 3px 43px;
    background: url(Images/Footer/footIcTelBlack.svg) left 9px center no-repeat;
}

.footTelPos {
    margin: 5px 0 0 0;
}

.footTelPosF2 {
    margin: 0 35px 5px 0;
}

.butCallBack {
    display: inline-block;
    font-size: 18px;
    color: #575757 !important;
    border: 1px #575757 solid;
    padding: 6px 18px 6px 46px;
    border-radius: 5px;
    background-image: url(Images/Footer/footIcTel.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    white-space: nowrap;
    transition: all ease-out 0.2s;
}

    .butCallBack:hover {
        color: #fff !important;
        background-color: #337AB7;
        border: 1px #EBEBEB solid;
        background-image: url(Images/Footer/footIcTelAct.svg);
    }

.butCallBackPos {
    margin: 25px 0 0 0;
}

.butCallBackPosF2 {
    margin: 0 0 5px 0;
}

.footerBottom {
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding: 18px 10px 10px 10px;
    background-color: #999999;
}

.upArrow {
    position: fixed;
    right: 13px;
    bottom: 8px;
    display: block;
    width: 50px;
    height: 50px;
    background: url(Images/Footer/upArrow.svg) center no-repeat;
}

#scrollUp {
    right: 30px;
    bottom: 8px;
    padding: 20px 20px;
    background: url(Images/Footer/upArrow.svg) center no-repeat;
    color: #fff;
    opacity: 0.5;
}

    #scrollUp:hover {
        opacity: 1;
    }
